.track {
  display: flex;
  column-gap: 20px;
  padding: 15px;
  max-height: 85px;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 40, 40, 0.1);
}
.track:hover {
  background-color: rgba(41, 40, 40, 0.2);
}
.track__poster {
  max-width: 100px;
  width: 100%;
}
.track__poster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.track__about {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.track__author {
}
.track__duration {
}
